.add_stack_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    height: 200px;
    width: 400px;
    font-family: Lato, sans-serif;
    border-radius: 20px;
}

.add_stack_modal h2 {
    font-size: 30px;
}

.add_stack_modal label {
    padding: 0 5px;
}

.add_stack_modal button {
    align-self: flex-end;
    border: none;
    background-color: inherit;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
}