.flashcard_container {
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .flashcard_container {
        padding: 20px;
    }
}

@media screen and (max-width: 425px) {
    .flashcard_container {
        padding: 15px;
    }
}