.flashcard {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: auto;
    overflow: auto;
    aspect-ratio: 5 / 3;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    transition: 1s;
}

.flashcard h1 {
    font-family: 'Mozilla Headline', serif;
    font-weight: 400;
    text-align: center;
    align-self: center;
    font-size: 48px;
    padding: 30px;
    width: 100%;
}

.flashcard p {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .flashcard {
        aspect-ratio: 5 / 4;
    }
    
    .flashcard p {
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    .flashcard {
        aspect-ratio: 1 / 1;
    }

    .flashcard h1 {
        font-size: 36px; 
    }

    .flashcard p {
        font-size: 16px;
    }
}