.navbar {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background: #7DB299;
}

.navbar img {
    height: 50px;
    padding: 0 20px
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .navbar {
        height: 80px;
    }

    .navbar img {
    height: 50px;
}
}